<table class="profile" summary="Profile information">
  <tr>
	<td class="main">
	  <h1>
		<%= gravatar_for @user %>
		<%= @user.name %>
	  </h1>
	  <% unless @user.accounts.empty? %>
	  <table class="accounts" summary="User accounts">
		<%= render @accounts %>
	  </table>
	  <%= will_paginate @accounts %>
	  <% end %>
	</td>
	<td class="sidebar round">
	  <strong>Name</strong> <%= @user.name %><br/>
	  <strong>URL</strong> <%= link_to user_path(@user), @user %><br/>
	  <strong>Accounts</strong> <%= @user.accounts.count %>
	</td>
  </tr>
</table>


