<h1>accounts#show.html.erb</h1>

<p>User: <%= current_user.name %></p>
<p>User has <%= current_user.accounts.count %> accounts.</p>
<p>Account: <%= @account.name %></p>
<p>Account <%= @account.name %> has <%= @account.transfers.count %> transfers.</p>
 
